body {
    background-image: linear-gradient( to right bottom, #d6d6d6, #dbdbdb,whitesmoke);
    background-repeat: no-repeat;
}

body h1 {
    justify-self: center;
}

body img {
    height: 500px;
    width: 500px;
}

body p {
    text-align: start;
}

body .cone1 {
    display: flex;
}

body .cone2 {
    display: flex;
}

body .cone3 {
    display: flex;
}

body .cone4 {
    display: flex;
}

body .cone5 {
    display: flex;
}
