body {
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
}

body header {
    position: fixed;
    display: flex;
    background-color: rgb(223, 223, 223);
    top: 0%;
    left: 0%;
    right: 0%;
}

body header .logo_ETSD img {
    display: flex;
    height: 75px;
    width: 150px;
    margin-left: 30px;
}

body nav ul {
    display: flex;
    flex-direction: row;
}

body header ul li {
    list-style: none;
    justify-content: baseline;
    margin-left: 20px;
    margin-top: 5px;
    color: gray;
    margin-top: 0.6rem;
}

body header ul li a {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

a:link {
    color: gray;
}
a:visited {
    color: gray;
}
a:hover {
    color: white;
}
a:active {
    color: black;
} 

main {
    height: 1600px;

}

main .main1 {
    background-image: url(image/foto-ETSD-33.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
}

main .main2 {
    background-image: url(image/foto-ETSD-2.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
}

main div.main1 {
    margin-bottom: 1rem;
}

footer {
    background-color: black;
    height: 500px;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

footer div.kalimatfooter h3 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

footer div.kalimatfooter {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 1.5rem;
}

footer div.ingintahu img {
    height: 35px;
}

footer div.ingintahu {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 18rem;
    padding-right: 10px;
}

footer div.pencipta {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 4rem;
    padding-top: 1rem;
    display: flex;
    gap: 50px;
}