body {
    background-image: linear-gradient( to right bottom, #d6d6d6, #dbdbdb,whitesmoke);
    background-repeat: no-repeat;
    height: 610px;
}

body h1 {
    justify-self: center;
    color: #4C4C4C;
}

body p {
    color: #4C4C4C;
}

body div.foto img {
    float: right;
    width: 300px;
    height: 300px;
}