body {
    background-image: linear-gradient( to right bottom, #d6d6d6, #dbdbdb,whitesmoke);
    background-repeat: no-repeat;
    height: 610px;
}

body h1 {
    justify-self: center;
}

body img {
    height: 98%;
    background-position: center center;
}